@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f1f5f9;
  --background: #0f172a;
  --card: #1e293b;
  --accent: #38bdf8;
  --accent-hover: #0ea5e9;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
